/* CSS for Index.html*/
body{
	width: 100%; 
	font-family: 'Open Sans', sans-serif; 
	background:url(../images/index-bg.png)
}
/* Header Tags */
h1 {
	font-family: 'Lato', sans-serif;
	font-weight: 500;
	font-size: 4em;
	font-style:italic;
}
h2{
	color: #000;
}

/* a tags*/
a {
	text-decoration: none;
	color:#000;
	font-weight: bold;
}

/* Content Elements */
#main-body {
	display: block;
	margin: 0 auto;
	width: 60%;
	position: relative;
}
.code img {
	width: 70%;
	margin: 22px 30px 0 0;
	float: left;
	box-shadow: 10px 10px 5px #ccc;
}
#main-body h2 {
	border-top: 1px solid #000;
	padding-top: 15px;
}

/* Header and Footer Styles */	
header {
	text-align: center;
}
footer {
	text-align:center;
	border-top: 1px solid #000;
	margin: 20px 0;
}

/* Content ul & li styles*/
.examples ul li {
	float: left;
	list-style-type:none;
	padding: 10px 20px;
	width: 40%;
	
}
/* Clear Floats */
.clear {
	clear:both;
}

/* CSS for Parallax.html */
.container {
	padding: 400px 200px; /* This gives our headings a bit of breathing room */ 
} 
.js-background-1 {
	/* background:url(../images/background1.jpg) center 0 no-repeat transparent; */
} 
.js-background-2 {
	/* background:url(../images/background2.jpg) center 0 no-repeat transparent ;*/ position: relative; 
}
#stars h2 {
	color:#fff;
}
.xwing {
	position: absolute;
	top:50px;
	right: 600px;
}
.deathstar {
	position: absolute;
	right: 10px;
	top: 10px;
}
#stars {
	background:url(../images/sky.PNG)
}

/* Alert Box Styles */
#alertBox {
	width: 300px;
	height: 120px;
	position: absolute;
	top: 4%;
	left: 38%;
	background: #fff;
	text-align: center;
	display: none;
	border-radius: 8px 8px 8px 8px;
	box-shadow: 5px 5px 5px #ccc;
	border: 1px solid #ccc;
}
#alertButtonYes {
	width: 100px;
}
#alertButtonNo {
	width: 100px;
}
#tabs {
	display: block;
	width: 58%;
}
#tabs img {
	width: 100%;
	box-shadow: 10px 10px 5px #ccc;
	margin-bottom: 20px;
	float: left;
	transition:width 2s; /* This is to create the hover affect */
	-webkit-transition:width 1s; /* Safari */
}
#tabs img:hover {
	width: 102%
}

#tabs ul {width: 98%;}
#tabs ul li:first-child {margin-left: 22px;}
#tabs ul li {width: 22.8%;}
#tabs ul li a {
	width: 100%;
}
#tabs .ui-widget-header {border:none; background: none;}
